table {
    table-layout: inherit;
    position: relative;
    right: 100px;
    width: auto;
    border-collapse: collapse;
    border: 5px solid purple;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 60%;
}
thead th:nth-child(4) {
    width: 20%;
}

th,td {
    padding: 10px;
    vertical-align: top;
    border: 3px solid purple;
 }